

<h1>Team</h1>

<div class="team">
  <h3>Team Name: <%= @team.name %></h3><br>
  <h4>Team Motto: <%= @team.motto %></h4>
</div><br>

<h1>Members</h1>
<% @members.each do |member| %>
  <div class="member">
    <p>Hero Name: <%= member.name %></p><br>
    <p>Hero Power: <%= member.power %></p><br>
    <p>Hero Biography: <%= member.biography %></p><br>
  </div><br>
<% end %>
